<div class="main">
  <div class="input">
    <p>Number of rows: <input type="text" id="rowsInput" (keydown.enter)="setPageLength()"></p>
  </div>
  <div class="content">
    <table>
      <thead>
        <tr>
          <th *ngFor="let field of fieldsToHeaders | keyvalue">{{field.value}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data | slice:((currentPage - 1) * pageLength):(currentPage * pageLength)">
            <td *ngFor="let field of item | keyvalue">{{field.value}}</td>
          <td><button (click)="tableService.post(item)">POST</button></td>
        </tr>
      </tbody>
    </table>
    <div class="footer">
      <button type="button" (click)="currentPage = 1">First <<-</button>
      <button type="button" (click)="currentPage = currentPage - 1">Backwards <-</button>
      <p>{{currentPage}} of {{maxPages}}</p>
      <button type="button" (click)="currentPage = currentPage + 1">-> Forwards</button>
      <button type="button" (click)="currentPage = maxPages">->> Last</button>
    </div>
  </div>
</div>
