.main {
    bottom: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
}
.input {
    height: 10vh;
    margin: 0;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 90vh;
}
table {
    display: block;
    overflow-x: auto;
    tr {
        border-bottom: 1px solid black;
    }
    th, td {
        padding: 5px;
    }
}
.footer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px;
    text-align: center;
    p {
        margin: 0;
    }
}
