@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';

body {
  height: 100vh;
  margin: 0;
  position: fixed;
  width: 100vw;
}
